  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  body {
    background: #e0e5ec;
  }
  
  .hidden {
    display: none;
  }
  
    .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 2.1fr 0.3fr;
    gap: 10px 1px;
    grid-template-areas: "header" "main" "footer";
  }
  
  header {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr 0.4fr 2.4fr 0.2fr;
    grid-template-rows: 1fr 1.5fr 0.5fr;
    gap: 1px 1px;
    grid-template-areas: ". . . . ." ". h1 . nav ." ". . . . .";
    grid-area: header;
  }
  
  h1 { 
    grid-area: h1;
}
  
  nav { 
    grid-area: nav;
 }
  
  main {
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 0.3fr 0.6fr 2.7fr 0.9fr 0.5fr;
    gap: 1px 1px;
    grid-template-areas: ". . ." ". mode ." ". timer ." ". actions ." ". . .";
    grid-area: main;
  }
  
  .timer { grid-area: timer; }
  
  .mode { grid-area: mode; }
  
  .actions { grid-area: actions; }
  
  footer { grid-area: footer; }

  .button {
    margin: 20px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  .floating-button {
    border: none;
  }

  .floating-button:hover {
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }

  .embossed-button {
    border: none;
  }

  .embossed-button:before {
    height: 0%;
    width: 2px;
  }

  .embossed-button:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

  .button-active {
    border: 1px solid grey ;
  }