* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Color swatch */
/* Beige = #E8EAE8 */
/* Cold white = #e0e5ec */

body {
  background: rgb(233, 235, 232);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
  height: 80vh;
  width: 85vh;
  border-radius: 10px;
  background: whitesmoke;
  justify-content: center;
}

header {
  flex: 1 1 15%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

  h1 {
    margin: auto 10px 5px 30px;
    font-family: 'rawline', 'Segoe-UI', serif;
    font-size: 35px;
  }

  h2 {
    font-weight: bolder;
    font-size: 33px;
    margin-top: 45px;
  }

  nav {
    margin: auto 20px;
  }

main {
  flex: 1 1 65%;

  display: flex;
  flex-flow: column nowrap;
}

  #main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 8%;
    min-height: 100%;
  }

  .display {
    font-size: 120px;
    font-family: 'rawline', 'Segoe-UI', serif;
    font-weight: 600;
    font-style: normal;
  }

  #pomodoro-actions span {
    font-size: 48px;
  }

footer {
  flex: 1 1 10%;

  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

  #footer-message {
    margin: auto 30px;
    align-items: flex-start;
    font-size: 12px;
    color: lightslategray;
  }

  a {
    cursor: pointer;
    font-weight: 600;
  }

/* ========================== */
/* Shadows */
.effect1 {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;}

.shadow2
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow2:before, .shadow2:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow2:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


/* ========================== */
/* Modal */

/* Animation */
.modal-zoom-in {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.modal-zoom-in.show {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(69, 69, 69, 0.7);
  opacity: 0;
  pointer-events: none;
}

.modal-background.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
  animation: fadein 0.8s;
}

.modal-background.hide {
  animation: fadeout 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
 }
  to {
    opacity: 1;
 }
}

@keyframes fadeout {
  from {
    opacity: 1;
 }
  to {
    opacity: 0;
 }
}

/* Modal Content */
.modal{
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  overflow: auto;
  padding: 15px;
  width: 45%;
  transform-style: preserve-3d;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.modal div {
  padding: 50px 25px;
  line-height: 150%;
  font-size: 16;
}

/* Close button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* ========================== */
/* Buttons */
.button {
  margin: 10px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.floating-button {
  border: none;
}

.floating-button:hover {
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}

.embossed-button {
  border: none;
}

.embossed-button:before {
  height: 0%;
  width: 2px;
}

.embossed-button:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.mode-active {
  border: 1px solid grey ;
}

button:focus {
  outline: 0;
}

  /* Pomodoro buttons */
  #pomodoro-actions button {
    padding: 2px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  /* Navigation buttons */
  nav .button {
    margin: 0;
    color: rgb(101, 113, 126);
  }

  #pomodoro-mode button {
    margin: 10px 1px;
  }


/* ========================== */
/* Text style */
.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #CA4246;
  
  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #ca4246 16.666%, 
        #ca5009 33.333%, 
        #E16541 33.333%, 
        #E16541 50%, 
        #d16716 50%, 
        #d83c0c 66.666%, 
        #d83c0c 66.666%, 
        #CA4246 83.333%, 
        #a53a37 83.333%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

/* ========================== */
/* Positioning */
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}


/* ========================== */
/* Scaling */
@media screen and (max-width: 800px), (max-height: 900px) {
  nav .button {
    padding: 10px 10px;
    font-size: 14;
  }
}

@media screen and (max-width: 450px) {
  header {
    flex: 1 1 15%;
  
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
  }

  nav {
    margin: 8px auto;
    width: auto;
  }

  nav .button {
    padding: 5px 10px;
    font-size: 14;
  }

  h1 {
    margin: 0;
    text-align: center;
  }
}